@font-face{ font-family: BlackTop; src: url("../fonts/BlackTop.ttf")}
body{
    background-image: url("../images/brickwall.jpg");
    background-size: 100%;
}
h1{
    font-family: BlackTop;
    color: white;
    font-size: 90px;
    text-align: center;
}
main{
    position: relative;
}
.bottom-buffer{
    margin-bottom: 20px;
}
.top-buffer{
    margin-top: 20px;
}
.img-border{
    box-sizing: border-box;
    border: 2px solid white;
}
.container{
    background-color: red;
    border: 2px solid white;
}
.center{
    text-align: center;
    display: block;
    margin: 0px auto;
}
.image-revealer{
    z-index: 100; 
    position:absolute;
    left: 25%;
}
.game-cover{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: 100;
    top: 0;
    left: 0;
    margin: 0 auto;
    border: 2px solid white;
    box-sizing: border-box;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ccc;;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ccc;;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .now-playing{
    position: absolute;
    top: 0%;
    padding: inherit;
    left: 0;
    visibility: hidden;
  }